<div class="px-4 py-3 flex justify-between items-center">
  <span class="text-sm text-slate-400">Spaces</span>
  <button class="text-slate-400 hover:text-white" (click)="createNewSpace()">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
<ul class="py-2">
  <li class="flex items-center px-4 py-2 hover:bg-slate-600/30 cursor-pointer">
    <fa-icon class="text-purple-400 mr-4" [icon]="faFolder"></fa-icon>
    Personal
  </li>
  <li class="flex items-center px-4 py-2 hover:bg-slate-600/30 cursor-pointer">
    <fa-icon class="text-blue-400 mr-4" [icon]="faFolder"></fa-icon>
    Work
  </li>
</ul>