<app-content-layout>
  <div content-layout-header class="w-full">
    <h1 class="text-2xl font-bold text-gray-800">{{title}}</h1>
    <div class="flex items-center gap-2 space-y-2 w-full">
      <p *ngIf="!isEditing" 
       (click)="isEditing = true"
       class="w-full text-lg text-gray-600 cursor-text hover:bg-gray-100 py-1 rounded">
       {{ spaceDescription || 'Click to add description' }}
      </p>
      <input *ngIf="isEditing" 
       type="text" 
       [(ngModel)]="spaceDescription"
       (blur)="saveChanges()"
       (keyup.enter)="saveChanges()"
       #descInput
       class="w-full text-gray-700 py-1 rounded-lg border-none outline-none focus:ring-0 hover:bg-gray-50"
       autofocus>
    </div>
  </div>
  <div content-layout-body>
    <app-task-list [tasks]="tasks" 
      [loading]="tasksLoading"
      (taskDelete)="deleteTask($event)"
      (taskStatusChange)="updateTaskStatus($event)"
      (taskSelect)="selectTask($event)">
    </app-task-list>
  </div>
  <div content-layout-footer>
    <!--<div class="w-full">
      <input #newTaskBox type="text" placeholder="Añadir nueva tarea"
        class="flex-grow text-lg font-medium text-gray-700 px-2 py-1 rounded-lg border-2 border-gray-300 focus:border-blue-500 focus:outline-none w-full"
        (keyup.enter)="addTask(newTaskBox)" (keyup)="validateInput(newTaskBox.value)">
      <span *ngIf="!isInputValid" class="text-red-400">Solo se permiten hasta 200 caracteres</span>
    </div>-->
  </div>
</app-content-layout>

<ng-template [ngIf]="isSidebarOpen">
  <app-sidebar (onClose)="isSidebarOpen = !isSidebarOpen" [isOpen]="isSidebarOpen" [taskDetail]="taskSelected"
    (onChangeTaskDetail)="updateTask($event)"></app-sidebar>
</ng-template>