<div class="task-container mx-auto mt-5 w-full">
  <ng-template [ngIf]="!isDone">
    <div class="task bg-white shadow-md rounded-lg px-4 py-3 flex items-center border-r-4 border-yellow-400">
      <button class="edit-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="onDoneClick()">
        <fa-icon class="absolute inset-0 m-auto text-yellow-400 text-3xl" [icon]="icon"></fa-icon>
      </button>  
      <div class="task-details flex-auto ml-4 mr-4">
        <p (click)="onTaskClick.emit()" class="task-name text-sm md:text-base font-semibold text-gray-700 whitespace-normal break-words overflow-hidden">{{ title }}</p>
        <p class="task-date text-xs text-gray-500">{{ task.createAt | date:'dd/MM/YYYY HH:mm' }}</p>
      </div>
      <!-- Timer Section -->
      <div class="flex items-center gap-2">
        <button 
          [ngClass]="{'bg-green-500': task.isTimerRunning, 'bg-gray-300': !task.isTimerRunning}"
          class="px-3 py-1 rounded-lg text-white flex items-center gap-1"
          (click)="$event.stopPropagation(); toggleTimer();">
          <fa-icon [icon]="task.isTimerRunning ? faPause : faPlay"></fa-icon>
          <span *ngIf="task.startDate && !task.completedDate">
            {{ elapsedFocustimer }}
          </span>
        </button>
      </div>
      <button class="delete-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="iconTrashClassName = 'text-red-500'" (mouseleave)="iconTrashClassName = 'text-gray-700'" (click)="onDelete.emit()">
        <fa-icon class="absolute inset-0 m-auto text-3xl" [icon]="iconTrash" [ngClass]="iconTrashClassName"></fa-icon>
      </button> 
    </div>
  </ng-template>
  
  <ng-template [ngIf]="isDone">
    <div class="task bg-white shadow-md rounded-lg px-4 py-3 flex items-center border-r-4 border-green-400">
      <button class="edit-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="isDone = !isDone; onDone.emit(isDone)" >
        <fa-icon class="absolute inset-0 m-auto text-green-400 text-3xl" [icon]="faSquareCheck"></fa-icon>
      </button>  
      <div class="task-details flex-auto ml-4 mr-4">
        <p (click)="onTaskClick.emit()" class="task-name text-sm md:text-base font-semibold text-gray-700 line-through opacity-50 whitespace-normal break-words overflow-hidden">{{ title }}</p>
        <p class="task-date text-xs text-gray-500">{{ task.createAt | date:'dd/MM/YYYY HH:mm' }}</p>
      </div>
      <div *ngIf="task.focusTimer" class="text-sm text-gray-600">
        <span class="ml-2">
          Transcurrido: {{ focusTimer.minutes + '.' + focusTimer.seconds }} min.
        </span>
      </div>
      <button class="delete-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="iconTrashClassName = 'text-red-500'" (mouseleave)="iconTrashClassName = 'text-gray-700'" (click)="onDelete.emit()">
        <fa-icon class="absolute inset-0 m-auto text-3xl" [icon]="iconTrash" [ngClass]="iconTrashClassName"></fa-icon>
      </button>
    </div>
  </ng-template>
</div>
