<div class="task-container mx-auto mt-5">
  <ng-template [ngIf]="!isDone">
    <div class="task bg-white shadow-md rounded-lg px-4 py-3 flex items-center border-r-4 border-yellow-400">
      <button class="edit-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="isDone = !isDone; onDone.emit(isDone)">
        <fa-icon class="absolute inset-0 m-auto text-yellow-400 text-3xl" [icon]="icon" ></fa-icon>
      </button>  
      <p class="task-name text-lg font-semibold text-gray-700">{{ title }}</p>
      <button class="delete-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10 ml-auto" (mouseenter)="iconTrashClassName = 'text-red-500'" (mouseleave)="iconTrashClassName = 'text-gray-700'" (click)="onDelete.emit()">
        <fa-icon class="absolute inset-0 m-auto text-3xl" [icon]="iconTrash" [ngClass]="iconTrashClassName" ></fa-icon>
      </button> 
    </div>
  </ng-template>
  
  <ng-template [ngIf]="isDone">
    <div class="task bg-white shadow-md rounded-lg px-4 py-3 flex items-center border-r-4 border-yellow-400">
      <button class="edit-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="isDone = !isDone; onDone.emit(isDone)" >
        <fa-icon class="absolute inset-0 m-auto text-yellow-400 text-3xl" [icon]="faSquareCheck" ></fa-icon>
      </button>  
      <p class="task-name text-lg font-semibold text-gray-700 line-through opacity-50">{{ title }}</p>
      <button class="delete-button relative p-0 overflow-hidden text-blue-500 hover:text-blue-700 focus:outline-none w-10 h-10 ml-auto" (mouseenter)="iconTrashClassName = 'text-red-500'" (mouseleave)="iconTrashClassName = 'text-gray-700'" (click)="onDelete.emit()">
        <fa-icon class="absolute inset-0 m-auto text-3xl" [icon]="iconTrash" [ngClass]="iconTrashClassName" ></fa-icon>
      </button>
    </div>
  </ng-template>
</div>
